body{
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    font-size: 20px;
    text-align: center;
    background-image: url("/Images/Fondo.jpg"); /* Imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    font-family: 'Roboto Mono', monospace;
}

#div1{
    margin-bottom: 20px;
    color: #00bfff;
    font-size: larger;
}

#fieldEntrada, #fieldSalida {
    width: 600px;
    border-radius: 10px;
    border: 2px solid #00bfff; /* Borde azul brillante */
    background: linear-gradient(135deg, #333333, #555555); /* Fondo con gradiente */
    color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    padding: 20px; /* Añadir padding para mejorar el espaciado interno */
}

#fieldEntrada {
    height: 630px;
}

#fieldSalida {
    height: 550px;
}

main fieldset {
    border: 2px solid #00bfff; /* Borde azul para el fieldset */
    padding: 20px;
}

main fieldset legend {
    color: #00bfff; /* Color azul para el texto del legend */
    font-size: larger; /* Aumentar el tamaño de la fuente */
}

/* Estilos para los botones */
button {
    background-color: #00bfff; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición del botón */
}

button:hover {
    background-color: #007acc; /* Cambio de color cuando se le pasa el cursor */
    transform: scale(1.05); /* Aumentar el tamaño cuando pasa lo anterior */
}

button:active {
    background-color: #005f99; /* Cambio de color cuando se le hace click */
    transform: scale(1); /* Volver a como estaba el botón */
}
